@model MailViewModel
@Ajax.RefreshPanel("list", "start",
    @<div>
        @Html.Partial("_Pager")
        <table>
            <tbody>
                @foreach (var conversation in Model.Conversations)
                {
                    <tr>
                        <td>@Html.RefreshLink(conversation.People + " (" + conversation.Messages.Count + ")", new NavigationData { { "id", conversation.Id } }, true)</td>
                        <td>@Html.RefreshLink(conversation.Description, new NavigationData { { "id", conversation.Id } }, true)</td>
                        <td>@Html.RefreshLink(conversation.Time, new NavigationData { { "id", conversation.Id } }, true)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>)
